data_world_download/
county_report/
eu_pop.csv
Country_daily.html
NC_SC_couties.Rmd
*.xlsx
*.csv
us_states.rds
pop_country_level.rds
population_lookup.rds
data_minning.Rmd
old_scripts/
data_minning.html
Selected_counties_pdf.Rmd
Selected_Counties_pdf.html
by_county_html.pdf
country_minning.html
covid_reports.Rproj
.Rproj.user/